body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 350px;
    height: 950px;
    padding: 15px;
  }
  
  button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .translatedText {
    font-size: 14px;
    white-space: pre-line;
  }
