:root {
  --primary-color-theme: rgb(255, 255, 255);
  --secondary-color-theme: rgb(211, 211, 211);
  --text-color-theme: black;
}

html {
  border: 10px solid var(--secondary-color-theme);
  height: 98%;
}

body {
  height: 98%;
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;

  background: var(--primary-color-theme);
  color: var(--text-color-theme);
}

#side-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#disabled {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  line-height: 1.5;
}

#close {
  cursor: pointer;
  border: none;
  outline: none;
  background: black; /* Elegant black background */
  color: white; /* White text color for contrast */
  font-size: 25px; /* Smaller '×' symbol */
  padding: 0;
  float: right; /* Align the button to the right */
  margin: 0px; /* Give some space from the corners */
  width: 25px; /* Width of the button */
  height: 25px; /* Height of the button, same as width for square shape */
  line-height: 25px; /* Center the '×' symbol vertically */
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin: 0;
  float: left;
  top: 0px;
}

h3 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;

  aspect-ratio: 2/1.1;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";

  width: 46px;
  aspect-ratio: 1/1;

  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

input:checked + .slider {
  background-color: teal;
}

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

select {
  font-size: 24px;

  border: none;
  border-bottom: 2px solid var(--text-color-theme);
  color: var(--text-color-theme);
  background: var(--primary-color-theme);
}

#activate {
  /*
  display: block;
  margin: 2rem auto;

  width: 7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;

  color: white;
  background-color: lightgreen;
  font-size: 2.5rem;

  box-shadow: 0rem 0.5rem 0rem green;
  */
  min-width: 150px;
  min-height: 30px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

#activate::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

#activate:hover,
#activate:focus {
  color: #313133;
  transform: translateY(-6px);
}

#activate:hover::before,
#activate:focus::before {
  opacity: 1;
}

#activate::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

#activate:hover::after,
#activate:focus::after {
  animation: none;
  display: none;
}

#revert {
  background: transparent;
  color: var(--text-color-theme);
  border: none;

  text-decoration: underline;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

/*
#activate:active {

  -webkit-transform: translateY(0.5rem);
  -ms-transform: translateY(0.5rem);
  transform: translateY(0.5rem);

  box-shadow: 0rem 0rem 0rem green;
}
*/

ul {
  display: grid;
  list-style: none;

  margin: 0;
  padding: 1rem;
  border: 1px solid var(--text-color-theme);

  gap: 15px;
}

li > span {
  color: black;
  background: rgb(216, 216, 216);

  padding: 3px;

  border: 1px solid var(--text-color-theme);
  border-radius: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color-theme: rgb(46, 46, 46);
    --secondary-color-theme: rgb(59, 59, 59);
    --text-color-theme: white;
  }
}
